<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="csvfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}\probel\log-reader\logs\${shortdate}.log-reader.csv" >
      <layout xsi:type="CsvLayout" delimiter="Semicolon" quoting="Auto">
        <column name="Time" layout="${longdate}" />
        <column name="Level" layout="${level:upperCase=true}"/>
        <column name="Logger" layout="${logger}"/>
        <column name="ThreadId" layout="${threadid}"/>
        <column name="Message" layout="${InvariantCulture:${message}}" />
        <column name="Exception" layout="${InvariantCulture:${exception:format=tostring}}"/>
      </layout>
    </target>
    <target name="debugger"
            xsi:type="Debugger"
            layout="== Probel Client == ${pad:padding=5:inner=${level:uppercase=true}} | ${pad:paddinf=3:inner=${threadid}} | ${message} | ${exception:format=tostring}" />
    <target xsi:type="Chainsaw"
            name="chainsaw"
            address="udp4://127.0.0.1:4445">
      <parameter layout="Layout" name="String"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="csvfile" />
    <logger name="*" minlevel="Trace" writeTo="chainsaw" />
  </rules>
</nlog>